@import "../../../scss/_variables.scss";

.s-forgot {
  .s-forgot-header {
    margin-top: 10px;
    text-align: center;

    h5 {
      margin-top: 20px;
    }
  }

  .s-forgot-form {
    margin-top: 50px;

    &-alert {
      margin: 30px 0 20px 0;
      height: 25px;
    }

    &-action {
      margin: 20px 0;
      text-align: center;

      a {
        margin-left: 5px;
      }
    }

    .s-forgot-sent {
      margin-top: 20px;
      
      p{
        color: $primary;
        margin: 0 0 20px 0;
      }
    }

  }
}
