@import "../../scss/_variables.scss";

.s-spinner,
.s-thinkbox,
.s-account {
    position: relative;
    height: 100%;
    width: 100%;
}

.s-container{
    position: relative;
    height: 100%;
    width: 100%;
}
