@import "../scss/_variables.scss";
.clr-back-primary {
    background-color: $primary;
}

.clr-fore-primary {
    color: $primary;
}

.clr-fore-primaryDark {
    color: $primaryDark;
}

.clr-fore-blue {
    color: $blue;
}

.clr-fore-blueDark {
    color: $blueDark;
}

.clr-back-red {
    background-color: $red;
}

.clr-fore-red {
    color: $red;
}

.clr-fore-redDark {
    color: $redDark;
}

.clr-fore-orange {
    color: $orange;
}

.clr-fore-orangeDark {
    color: $orangeDark;
}

.clr-fore-black {
    color: $black;
}

.clr-fore-lightgray2 {
    color: $lightgray2;
}

.clr-back-greenPastel {
    background-color: $greenPastel;
}

.clr-fore-greenPastel {
    color: $greenPastel;
}

.clr-back-greenPastel {
    background-color: $greenPastel;
}