@import "../scss/_variables.scss";

.primary{
    color: $primary;
}

.primaryDark{
    color: $primaryDark;
}

.blue{
    color: $blue;
}

.blueDark{
    color: $blueDark;
}

.red{
    color: $red;
}

.redDark{
    color: $redDark;
}

.orange{
    color: $orange;
}

.orangeDark{
    color: $orangeDark;
}

.black{
    color: $black;
}

.lightgray2{
    color: $lightgray2;
}