@import "../../../scss/_variables.scss";
.s-page-action-wrapper {
    position: relative;
    min-height: 100px;
    line-height: 100px;
    width: 100%;
    .s-page-action {
        position: relative;
        width: 100%;
    }
    .s-page-action-affix {
        position: fixed;
        width: 100%;
        top: 70px;
        background-color: $white;
        z-index: 998;
        box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
    }
    .s-page-action-back {
        text-decoration: none;
        cursor: pointer;
        color: $black;
    }
    .s-page-header {
        float: left;
        font-weight: bold;
        line-height: 100px;
        @media(max-width: $screen-xs-max) {
            font-size: 18px;
            white-space: nowrap;
            width: auto;
            max-width: 400px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        @media(max-width: $screen-sm-max) {
            font-size: 18px;
            white-space: nowrap;
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        span {
            color: $secondary;
        }
    }
    .s-page-action-refresh {
        float: left;
        padding-left: 5px;
    }
    .s-page-action-add {
        float: left;
    }
    .s-page-action-save {
        float: right;
        padding-right: 5px;
    }
    .s-page-action-active {
        float: right;
    }
    .s-page-action-status {
        float: right;
    }
    .s-page-action-next {
        position: fixed;
        height: 50px;
        width: 50px;
        background-color: $primaryDark;
        right: 0;
        top: 60%;
        border-radius: 10px;
        cursor: pointer;
        z-index: 999;
        padding: 5px 10px;
        display: flex;
        i {
            position: relative;
            width: 50px;
            color: $white;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease 300ms;
        }
    }
    .s-page-action-prev {
        position: fixed;
        height: 50px;
        width: 50px;
        background-color: $primaryDark;
        left: 0;
        top: 60%;
        border-radius: 10px;
        cursor: pointer;
        z-index: 999;
        padding: 5px 10px;
        display: flex;
        i {
            position: relative;
            width: 50px;
            color: $white;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease 300ms;
        }
       
    }
    .search {
        text-align: center;
        .search-input {
            position: relative;
            display: inline-block !important;
            color: $lightgray3;
            box-shadow: none !important;
            outline: 0 !important;
            overflow: hidden;
            padding: 6px 50px 6px 12px;
        }
        .search-icon {
            position: absolute;
            right: 5px;
            line-height: 36px;
            color: $lightgray3;
            border: none;
            &.clear {
                right: 28px;
                &:focus,
                &:hover,
                &:active,
                &:active:focus {
                    color: $red;
                    border: none;
                }
            }
            &:focus,
            &:hover,
            &:active,
            &:active:focus {
                color: $primary;
                border: none;
            }
        }
    }
    @media(max-width: $screen-sm-max) {
        .s-page-action-status {
            float: left;
        }
    }
}